---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

const events = await Astro.glob("./events/*.md");
---

<Layout title="Networthy - Events">
  <section>
    <div class="container py-28">
      <div class="flex flex-col gap-4">
        {
          events.map((event) => (
            <EventCard
              name={event.frontmatter.title}
              category={event.frontmatter.category}
              url={event.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
