---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Networthy">
  <Navbar />
  <main>
    <section>
      <div class="container bg-blue-500 py-28 text-white">
        <div class="max-w-3xl">
          <div class="text-base mb-6">
            Your Hub for Business Networking Events
          </div>
          <h1 class="mb-10">Frum Networking Events at Your Fingertips</h1>
          <a href="#" class="btn">Explore events</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
