---
import EventIcon from "./EventIcon.astro";
---

<div
  class="flex flex-row items-stretch gap-6 p-5 border border-zinc-200 rounded-md text-zinc-900 bg-white"
>
  <img src="" alt="" class="w-1/4 bg-zinc-100 rounded-md" />
  <div class="flex flex-col grow">
    <div class="flex flex-row gap-2 mb-2">
      <div
        class="text-xs font-semibold leading-none bg-zinc-100 p-1.5 rounded-md"
      >
        Real Estate
      </div>
    </div>
    <div class="text-2xl font-semibold mb-1">Event Name</div>
    <div class="text-base">September 30, 2024</div>
    <div class="text-base">New York, NY</div>
    <div class="text-base font-bold mt-2">$90</div>
    <div class="flex flex-row items-center justify-between gap-4 mt-4">
      <a
        href="#"
        class="text-sm py-1 px-2 border border-zinc-200 rounded-md transition hover:shadow-sm hover:bg-zinc-50"
        >Add to calendar</a
      >
      <div class="flex gap-2">
        <EventIcon iconName="ph:heart-bold" />
        <EventIcon iconName="ph:share-network-bold" />
        <EventIcon iconName="ph:dots-three-bold" />
      </div>
    </div>
  </div>
</div>
