<nav class="border-b border-zinc-300 py-4">
  <div class="container flex justify-between items-center gap-4">
    <div class="text-xl">Networthy</div>
    <div class="nav-links flex items-center gap-4">
      <a href="" class="nav-link">Events</a>
      <a href="" class="nav-link">Post an Event</a>
      <a href="" class="nav-link">Help Center</a>
      <a href="#" class="btn">Sign up</a>
      <a href="#" class="btn btn-outline">Login</a>
    </div>
  </div>
</nav>
